
<body>
    <div class="center">
        <!-- <img src="contact.jpg" alt="" width="200" height="100" align="right"> -->
        <br><h2 style="color: rgb(101, 36, 230)">User Form:-</h2>
       


    </div>
</body>
<form class="mt-3">
<label>User ID:</label>&nbsp;
<input type="text" user="Enter ID"/><br/><br/>
<label>User Name:</label>&nbsp;
<input type="text" user="Enter your user name"/><br/><br/>
<label>User Address:</label>&nbsp;
<input type="text" user="Enter your Address"/><br/><br/>
<label>Date Of Birth:</label>&nbsp;
<input type="date" user="Enter your DOB"/><br/><br/>
<label>User gender:</label>&nbsp;
<input type="text" user="Enter your gender"/><br/><br/>
<label>User contact:</label>&nbsp;
<input type="text" user="Enter your contact"/><br/><br/>
<label>User District:</label>&nbsp;
<input type="text" user="Enter your District"/><br/><br/>
<button class="btn btn-primary mb-3">Submit</button>
</form>