<a href="#" routerLink="/home" class="logout">logout</a>
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
          <a href="#" routerLink="/table" class="btn btn-secondary">user</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Candidate</h5>
          <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
         
          <a href="#"  routerLink="/event" class="btn btn-secondary">candidate</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Election</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
            <a href="#"  routerLink="/staff" class="btn btn-secondary">Election</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Schedule</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
            <a href="#"  routerLink="/placement" class="btn btn-secondary">schedule </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Party</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
           <a href="#"  routerLink="/office" class="btn btn-secondary">party</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vote</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
           <a href="#"  routerLink="/office" class="btn btn-secondary">vote</a>
          </div>
        </div>
      </div>
  </div>
